<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSpeedIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F42784AA1C97199E001C239B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42784C01C97199F001C239B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42784CB1C97199F001C239B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
